
<div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0">
  <div *ngFor="let item of menuItems"
    [routerLink]="item.route"
    class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500 cursor-pointer">
    <h3 class="mb-3 text-xl font-bold text-indigo-600">{{item.title}}</h3>
    <div class="relative">
      <img class="w-full h-64 object-cover rounded-xl"
        [src]="item.image"
        [alt]="item.title" />
    </div>
  </div>

</div>



