/* Estilo para navegadores webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 2px;
    transition: background 0.2s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
  
  /* Estilo para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 #f1f1f1;
  }